<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="author" content="Tamas Piros"/>
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>